.container {
  position: relative;
  margin: auto;
  scroll-behavior: smooth;
}

@media (min-width: 395.98px) {
  .container {
    max-width: 360px;
    margin: auto;
    padding: 0;
  }
}
@media (min-width: 575.98px) {
  .container {
    max-width: 540px;
    margin: auto;
    padding: 0;
  }
}
@media (min-width: 767.98px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 991.98px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1399.98px) {
  .container {
    max-width: 1366px;
  }
}
header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  gap: 5%;
}
header .header-logo {
  display: flex;
  align-items: center;
  flex: 1;
}
header .header-logo img {
  width: 50px;
  height: 50px;
  margin-right: 35px;
}
header .header-logo h1 {
  font-family: "Exo 2", sans-serif;
  font-weight: 500;
  font-size: 1.2em;
  color: #101820;
}
header nav {
  flex: 1;
}
header nav ul {
  display: flex;
  justify-content: space-between;
}
header nav ul li a {
  color: #222831;
  font-weight: 300;
  font-size: 1em;
}
header .header-contacts {
  display: flex;
  align-items: center;
  gap: 20px;
}
header .header-contacts .header-phone * {
  margin: 0;
}
header .header-contacts .header-phone h3 {
  font-weight: 400;
  font-size: 0.9em;
}
header .header-contacts .header-phone p {
  color: rgba(57, 62, 70, 0.6);
  font-weight: 300;
  font-size: 0.8em;
}
header .header-contacts .header-social a {
  margin-right: 5px;
}
header .header-contacts .header-social a img {
  width: 25px;
  height: 25px;
}

@media (max-width: 575.98px) {
  header {
    background-color: #f5f5f5;
  }
  header .header-logo,
  header nav {
    display: none;
  }
  .menu-button-container {
    display: flex;
  }
}
.first-screen {
  background-color: #f5f5f5;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  gap: 100px;
  flex-wrap: wrap;
}
.first-screen div {
  text-align: center;
}
.first-screen div h1 {
  font-weight: 500;
  font-size: 1.4em;
  color: #222831;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.first-screen div h2 {
  font-weight: 400;
  font-size: 1.4em;
  color: rgba(57, 62, 70, 0.7);
  width: 450px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.first-screen div a {
  color: #000;
  display: inline-block;
  width: 400px;
  padding: 15px 0px;
  background-color: #fcda05;
  border: 0;
  border-radius: 3px;
  scroll-behavior: smooth;
}
.first-screen div a:hover {
  opacity: 0.8;
}
.first-screen form {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: #fff;
  padding: 0 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.first-screen form h3 {
  text-align: center;
  font-weight: 400;
  font-size: 1.3em;
  border-bottom: 1px solid #fcda05;
  padding: 30px 0;
  margin: 0;
  margin-bottom: 15px;
}
.first-screen form input {
  border: 0;
  background: #f5f5f5;
  border-radius: 3px;
  margin-bottom: 13px;
  padding: 15px;
  font-size: 0.9em;
}
.first-screen form input::placeholder {
  color: #929598;
}
.first-screen form .form-btn {
  background-color: #fcda05;
  font-size: 1em;
  cursor: pointer;
}
.first-screen form .form-btn:hover {
  opacity: 0.8;
}

@media (max-width: 575.98px) {
  .first-screen {
    gap: 25px;
  }
  .first-screen div h1 {
    font-size: 16px;
    width: 210px;
    margin-bottom: 15px;
  }
  .first-screen div h2 {
    font-size: 14px;
    width: 280px;
  }
  .first-screen div a {
    width: 228px;
    padding: 6px 0px;
    font-size: 11px;
    font-weight: 400;
  }
  .first-screen form {
    width: 264px;
    padding: 0 18px;
    box-shadow: none;
  }
  .first-screen form h3 {
    font-size: 15px;
    padding: 15px 0;
  }
  .first-screen form input {
    font-size: 9px;
    padding: 8px;
  }
  .first-screen form .form-btn {
    font-size: 12px;
  }
}
h2 {
  text-align: center;
  color: #222831;
  font-size: 2.4em;
  font-weight: 500;
  margin: 70px;
}

.services-content {
  margin: 0 auto;
  width: 85%;
}
.services-content .services-items {
  position: relative;
  width: 100%;
  height: 290px;
  background: no-repeat left/85%;
  display: flex;
  align-items: center;
  margin-bottom: 60px;
  background-image: url("../img/serv1.jpg");
}
.services-content .services-items:nth-child(2) {
  background-image: url("../img/serv2.jpg");
}
.services-content .services-items:nth-child(3) {
  background-image: url("../img/serv3.jpg");
}
.services-content .services-items:nth-child(4) {
  background-image: url("../img/serv4.jpg");
}
.services-content .services-items div {
  opacity: 0.9;
  width: 430px;
  height: 160px;
  background: #fcda05;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: left;
}
.services-content .services-items div h4 {
  color: #101820;
  font-weight: 400;
  font-size: 1.4em;
  text-align: left;
  margin: 10px 15px;
  text-decoration: underline;
}
.services-content .services-items img {
  width: 85%;
}
.services-content .services-items:nth-child(2n) {
  background-position: right;
}
.services-content .services-items:nth-child(2n+1) {
  justify-content: right;
}

@media (max-width: 575.98px) {
  h2 {
    font-size: 27px;
    margin: 0;
    margin-top: 30px;
  }
  .services-content .services-items {
    background-image: url("../img/m-serv-img1.jpg");
    background-size: contain;
    background-position: 0px;
    margin-bottom: 0px;
  }
  .services-content .services-items:nth-child(2) {
    background-image: url("../img/serv-img2.jpg");
  }
  .services-content .services-items:nth-child(3) {
    background-image: url("../img/serv-img3.jpg");
  }
  .services-content .services-items:nth-child(4) {
    background-image: url("../img/serv-img4.jpg");
  }
  .services-content .services-items div {
    position: absolute;
    width: 215px;
    height: 62px;
    font-weight: 500;
    font-size: 10px;
    bottom: 27px;
  }
}
.works {
  background-color: #f5f5f5;
  text-align: center;
  min-height: 768px;
}
.works > h1 {
  color: #222831;
  font-size: 36px;
  padding-top: 52px;
  margin-bottom: 100px;
}
.works > div {
  display: flex;
  justify-content: space-around;
  padding: 0 100px;
}
.works > div > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 0px 0px 2.51444px 2.51444px;
  margin: 20px 0;
  max-width: 223px;
}
.works > div > div > img {
  height: 181px;
  width: 100%;
}
.works > div > div > h2 {
  font-size: 20px;
  margin: 10px 0;
  font-weight: 400;
}
.works > div > div > h3 {
  margin-top: 0;
  font-size: 13px;
  font-weight: 500;
}
.works > div > div > p {
  font-size: 13px;
  font-weight: 300;
  margin: 6px 0;
}
.works > div > div > div {
  height: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FCDA05;
  flex-direction: row;
  width: 100%;
  margin-top: 6px;
}
.works > div > div > div > span {
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  display: flex;
  align-items: center;
  width: 74px;
  justify-content: center;
  border: 0.628609px solid rgba(0, 0, 0, 0.15);
  height: 100%;
}
.works > div > div > div > span > img {
  width: 18px;
  height: 18px;
}

@media (max-width: 575.98px) {
  .works > h1 {
    margin-bottom: 20px;
  }
  .works > div {
    flex-direction: column;
    padding: 0;
    align-items: center;
  }
}
.request {
  display: flex;
  align-items: center;
  background-color: #fcda05;
  width: 85%;
  margin: 75px auto;
}
.request img {
  width: 50%;
}
.request form {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  max-width: 70%;
}
.request form h2 {
  font-weight: 400;
  font-size: 1.5em;
  margin: 0;
}
.request form p {
  font-size: 0.75em;
}
.request form input,
.request form textarea {
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  font-size: 0.9em;
}
.request form input::placeholder,
.request form textarea::placeholder {
  color: #929598;
}
.request form .request-btn {
  background-color: #222831;
  color: #fcda05;
  width: 45%;
  margin: 0 auto;
  font-size: 1.1em;
  cursor: pointer;
}
.request form .request-btn:hover {
  opacity: 0.9;
}

@media (max-width: 575.98px) {
  .request {
    padding: 20px 0;
  }
  .request img {
    display: none;
  }
  .request form {
    max-width: 90%;
  }
  .request form h2 {
    font-size: 17px;
    color: #000;
  }
  .request form p {
    font-size: 8px;
  }
  .request form input,
  .request form textarea {
    font-size: 0.7em;
  }
  .request form .request-btn {
    font-size: 14px;
    padding: 8px;
  }
}
.partners {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.partners h2 {
  color: #222831;
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 60px;
}
.partners div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 60px;
  width: 90%;
}
.partners div img {
  margin-bottom: 20px;
}

@media (max-width: 575.98px) {
  .partners h2 {
    font-size: 27px;
  }
  .partners div {
    width: 100%;
  }
}
.contacts {
  display: flex;
  flex: 1;
  margin: 70px 130px;
  flex-wrap: wrap;
}
.contacts .contacts-inn-mob {
  display: none;
}
.contacts .contacts-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}
.contacts .contacts-left h2 {
  font-size: 34px;
  color: #222831;
  margin: 0;
}
.contacts .contacts-left p {
  font-size: 13px;
  line-height: 26px;
  margin-right: 130px;
}
.contacts .contacts-left .contacts-adress {
  display: flex;
}
.contacts .contacts-left .contacts-adress p {
  margin-left: 17px;
  font-weight: 500;
  font-size: 13px;
}
.contacts .contacts-left .contacts-mailphone {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 35px 0;
}
.contacts .contacts-left .contacts-mailphone span {
  display: flex;
}
.contacts .contacts-left .contacts-mailphone span p {
  padding: 0;
  margin: 0;
  margin-left: 17px;
  font-weight: 500;
  font-size: 13px;
}
.contacts .contacts-left .contacts-mailphone span img {
  width: 20px;
  height: 20px;
}
.contacts .contacts-left .contacts-mailphone .contacts-social img {
  margin-right: 8px;
}
.contacts .contacts-right {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 500px;
  position: relative;
}
.contacts .contacts-right div {
  flex: 1;
}

@media (max-width: 575.98px) {
  .contacts {
    padding: 0;
    margin: 0;
    justify-content: center;
  }
  .contacts .contacts-left {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    align-items: center;
  }
  .contacts .contacts-left h2 {
    margin-bottom: 20px;
    font-size: 27px;
  }
  .contacts .contacts-left p {
    font-weight: 500;
    margin: 0;
  }
  .contacts .contacts-left .contacts-text {
    width: 80%;
    font-weight: 500;
  }
  .contacts .contacts-left .contacts-adress {
    margin-top: 20px;
  }
  .contacts .contacts-left .contacts-mailphone {
    flex-wrap: wrap;
    align-items: center;
    margin: 20px;
  }
  .contacts .contacts-left .contacts-mailphone .contacts-social {
    margin: 0 auto;
    margin-top: 20px;
  }
  .contacts .contacts-right {
    margin: 0;
    padding: 0;
    width: 216px;
    height: 150px;
  }
  .contacts .contacts-inn-full {
    display: none;
  }
  .contacts .contacts-inn-mob {
    display: block;
    font-weight: 400;
    margin: 23px 0;
  }
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #222831;
  color: #fff;
  padding: 20px 35px;
}
.footer p {
  font-weight: 275;
  font-size: 0.7em;
  margin: 0;
}
.footer nav a {
  color: #fff;
  margin-right: 30px;
  font-size: 0.8em;
  margin-right: 15px;
  font-weight: 300;
}

@media (max-width: 575.98px) {
  .footer {
    padding: 10px 5px;
  }
  .footer p {
    font-size: 5px;
  }
  .footer nav {
    display: flex;
    align-items: center;
  }
  .footer nav a {
    font-size: 6px;
  }
}
.active .menu-button::before {
  margin-top: 0px !important;
  transform: rotate(225deg);
}
.active .menu-button {
  background: rgba(255, 255, 255, 0) !important;
}
.active .menu-button::after {
  margin-top: 0px !important;
  transform: rotate(-225deg);
}

.menu-button-container {
  display: none;
  position: absolute;
  right: 50px;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu-button-container .menu-button,
.menu-button-container .menu-button::before,
.menu-button-container .menu-button::after {
  display: block;
  background-color: #393e46;
  position: absolute;
  height: 3px;
  width: 30px;
  border-radius: 2px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-button-container .menu-button {
  top: 21px;
}
.menu-button-container .menu-button::before {
  content: "";
  margin-top: -10px;
}
.menu-button-container .menu-button::after {
  content: "";
  margin-top: 10px;
}

.m-menu {
  display: flex;
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 50px;
  left: 0;
  z-index: 100;
  justify-content: center;
}
.m-menu .container {
  background: #f5f5f5;
  margin: 0;
  padding: 0;
  width: 100%;
}
.m-menu .container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.m-menu .container ul li {
  margin-left: 37px;
  font-size: 24px;
  color: #222831;
  margin-bottom: 35px;
}
.m-menu .container ul li a:hover {
  font-weight: 500;
  outline: #FCDA05;
}
.m-menu .container .m-menu-container-bottom {
  position: absolute;
  bottom: 60px;
  left: 25px;
  display: flex;
  flex-direction: column;
}
.m-menu .container .m-menu-container-bottom .m-menu-container-logo {
  width: 59px;
}
.m-menu .container .m-menu-container-bottom span img {
  width: 28px;
  margin-right: 12px;
  margin-top: 37px;
}
.m-menu .container .m-menu-container-bottom h3 {
  font-size: 15px;
  font-weight: 400;
}

.hidden {
  display: none !important;
}

@media (max-width: 575.98px) {
  .menu-button-container {
    display: flex;
  }
}
* {
  font-family: "Fira Sans Condensed", sans-serif;
  text-decoration: none;
  list-style-type: none;
}

a {
  color: #000;
}

#success {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
#success p {
  background-color: rgba(173, 245, 179, 0.8);
  padding: 50px;
  font-size: 1.5em;
  text-align: center;
}

/*# sourceMappingURL=index.css.map */
