.container {
  position: relative;
  margin: auto;
  scroll-behavior: smooth;
}

@media (min-width: 395.98px){
  .container {
    max-width: 360px;
    margin: auto;
    padding: 0;
  }
}

@media (min-width: 575.98px){
  .container {
    max-width: 540px;
    margin: auto;
    padding: 0;
  }
}

@media (min-width: 767.98px){
  .container {
    max-width: 720px;	
  }
}

@media (min-width: 991.98px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1399.98px){
  .container {
    max-width: 1366px;
  }
}