@use "variables" as v;

.first-screen {
  background-color: v.$bg;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  gap: 100px;
  flex-wrap: wrap;

  div {
    text-align: center;

    h1 {
      font-weight: 500;
      font-size: 1.4em;
      color: v.$text;
      width: 280px;
      margin: 0 auto;
      margin-bottom: 30px;
    }
    h2 {
      font-weight: 400;
      font-size: 1.4em;
      color: rgba(57, 62, 70, 0.7);
      width: 450px;
      margin: 0 auto;
      margin-bottom: 30px;
    }
    a {
      color: #000;
      display: inline-block;
      width: 400px;
      padding: 15px 0px;
      background-color: v.$yellow;
      border: 0;
      border-radius: 3px;
      scroll-behavior: smooth;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  form {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: #fff;
    padding: 0 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    h3 {
      text-align: center;
      font-weight: 400;
      font-size: 1.3em;
      border-bottom: 1px solid v.$yellow;
      padding: 30px 0;
      
      margin: 0;
      margin-bottom: 15px;
    }

    input {
      border: 0;
      background: #f5f5f5;
      border-radius: 3px;
      margin-bottom: 13px;
      padding: 15px;
      font-size: 0.9em;

      &::placeholder {
        color: #929598;
      }
    }

    .form-btn {
      background-color: v.$yellow;
      font-size: 1em;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

@media (max-width: 575.98px) {
  .first-screen {
    gap: 25px;
    div {
      h1 {
        font-size: 16px;
        width: 210px;
        margin-bottom: 15px;
      }
      h2 {
        font-size: 14px;
        width: 280px;
      }
      a {
        width: 228px;
        padding: 6px 0px;
        font-size: 11px;
        font-weight: 400;
      }
    }

    form {
      width: 264px;
      padding: 0 18px;
      box-shadow: none;
      h3 {
        font-size: 15px;
        padding: 15px 0;
      }
  
      input {
        font-size: 9px;
        padding: 8px;
      }
  
      .form-btn {
        font-size: 12px;
      }
    }
  }
}
