@use "variables" as v;

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: v.$text;
  color: #fff;
  padding: 20px 35px;

  p {
    font-weight: 275;
    font-size: 0.7em;
    margin: 0;
  }

  nav {
    a {
      color: #fff;
      margin-right: 30px;
      font-size: 0.8em;
      margin-right: 15px;
      font-weight: 300;
    }
  }
}

@media (max-width: 575.98px) {
  .footer {
    padding: 10px 5px;

    p {
      font-size: 5px;
    }

    nav {
      display: flex;
      align-items: center;
      a {
        font-size: 6px;
      }
    }
  }
}
