@use "variables" as v;

.active {
  .menu-button::before {
    margin-top: 0px !important;
    transform: rotate(225deg);
  }

  .menu-button {
    background: rgba(255, 255, 255, 0) !important;
  }

  .menu-button::after {
    margin-top: 0px !important;
    transform: rotate(-225deg);
  }
} 

.menu-button-container {
  display: none;
  position: absolute;
  right: 50px;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #393e46;
    position: absolute;
    height: 3px;
    width: 30px;
    border-radius: 2px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .menu-button {
    top: 21px;
    &::before {
      content: "";
      margin-top: -10px;
    }
    &::after {
      content: "";
      margin-top: 10px;
    }
  }
}

.m-menu {
  display: flex;
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 50px;
  left: 0;
  z-index: 100;
  justify-content: center;

    .container {
      background: v.$bg;
      margin: 0;
      padding: 0;
      width: 100%;

      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          margin-left: 37px;
          font-size: 24px;
          color: v.$text;
          margin-bottom: 35px;

          a {
            &:hover {
              font-weight: 500;
              outline: #FCDA05;
            }
          }
        }
      }

      .m-menu-container-bottom {
        position: absolute;
        bottom: 60px;
        left: 25px;
        display: flex;
        flex-direction: column;

        .m-menu-container-logo {
          width: 59px;
        }

        span {
          img {
            width: 28px;
            margin-right: 12px;
            margin-top: 37px;
          }
        }

        h3 {
          font-size: 15px;
          font-weight: 400;
        }
      }
    }
}

.hidden {
  display: none !important;
}

@media (max-width: 575.98px) {
.menu-button-container {
  display: flex;
}

}
