@use "container";
@use "header";
@use "first-screen";
@use "services";
@use "request";
@use "partners";
@use "contacts";
@use "footer";
@use "hamburger";

* {
  font-family: "Fira Sans Condensed", sans-serif;
  text-decoration: none;
  list-style-type: none;
}

a {
  color: #000;
}

#success {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;

  p {
    background-color: rgb(173, 245, 179, 0.8);
    padding: 50px;
    font-size: 1.5em;
    text-align: center;
  }
}