$yellow: #fcda05;
$bg: #f5f5f5;
$text: #222831;

html {
  font-family: "Fira Sans Condensed", sans-serif;
}

.container {
  width: 1366px;
  margin: 0 auto;
}

.first-screen {
  background-color: $bg;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;

  div {
    text-align: center;

    h1 {
      font-weight: 500;
      font-size: 20px;
      color: $text;
      width: 250px;
      margin: 0 auto;
      margin-bottom: 30px;
    }
    h2 {
      font-weight: 400;
      font-size: 20px;
      color: rgba(57, 62, 70, 0.7);
      width: 400px;
      margin: 0 auto;
      margin-bottom: 30px;
    }
    button {
      padding: 10px 120px;
      background-color: $yellow;
      border: 0;
      border-radius: 3px;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    width: 35%;
    background-color: #fff;
    padding: 0 30px;

    input {
      border: 0;
      background: #f5f5f5;
      border-radius: 3px;
      margin-bottom: 10px;
    }
    input:after {
      position: absolute;
      top: 0;
      right: 0;
      color: red;
      content: '*';
    }
  }
}
